.list-card{
    width: 20%;
    padding: 3%;
    height: 200px;
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    border-radius: 4px;
    margin: 3%;
    word-break: break-all;
    word-wrap: break-word;
    position: relative;

}

.edit-delete {
    display: none;
}

.list-card:hover .edit-delete {
    display: block;
}

.button-div {
    display: flex;
    position: absolute;
    top: 15px;
    right: 15px;
}

@media screen and  (max-width: 700px) {
    .list-card {
        width: 60%;
    }
}