.my-navbar {
    min-height: 80px;
    width: 100%;
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    padding-left: 25px;

}

.my-navbar button {
    margin: 8px;
    padding: 13px;
}

.my-quote {
    max-width: 40%;
    margin-left: 5%;
}

@media screen and (max-width:700px) {
    .my-navbar {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 0px;
    }

    .my-quote {
        max-width: 80%;
    }
}