.my-navbar {
    min-height: 80px;
    width: 100%;
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    padding-left: 25px;

}

.my-navbar button {
    margin: 15px;
}

.my-quote {
    max-width: 40%;
    margin-left: 5%;
}