.show-word {
    width: 70%;
    height: 50vh;
    margin: 0 auto;
    margin-top: 10%;
    font-size: 70px;
    background-color: cornflowerblue;
    border-radius: 5px;
    margin-bottom: 20px;
    word-break: break-all;
    word-wrap: break-word;
    display: flex;
    align-items: center;
    justify-content: center;
}

.show-word p {
    margin-top: 10%;
    width: 85%;
    word-break: break-all;
    word-wrap: break-word;
}

@media screen and  (max-width: 700px) {
    .show-word {
        font-size: 50px;
    }
}

@media screen and  (max-width: 400px) {
    .show-word {
        font-size: 40px;
    }
}