.show-word {
    width: 70%;
    height: 50vh;
    margin: 0 auto;
    font-size: 90px;
    background-color: cornflowerblue;
    border-radius: 5px;
    margin-bottom: 20px;
}

.show-word p {
    padding-top: 120px;
}

@media screen and  (max-width: 700px) {
    .show-word {
        font-size: 60px;
    }
}

@media screen and  (max-width: 400px) {
    .show-word {
        font-size: 40px;
    }
}